<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin auth</title>
</head>
<body>
    <h1>
        <a href="/">Home</a>
        <a href="/bookList">Book List</a>
        
        <a href="/userLogin">User Login</a> 
        <a href="/userRegister">User Register</a>
        <a href="/adminLogin">Admin Login</a>   
    </h1>
    
    <h1>Hi {{. }}. Login successful...</h1>

    <br><br>
    <h2>
        <a href="/addBook">Add Book</a><br>
        <a href="/giveBook">Give Book</a><br>
    </h2>
    
</body>
</html>
