
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login Page</title>
</head>
<body>
    <h1>
        <a href="/">Home</a>
        <a href="/bookList">Book List</a>
        
        <a href="/userLogin">User Login</a> 
        <a href="/userRegister">User Register</a>
        <a href="/adminLogin">Admin Login</a>
    </h1>
    
    <p>Library test app.</p>
</body>
</html>