<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>
        <a href="/">Home</a>
        <a href="/bookList">Book List</a>
        <a href="/searchBook">Search Book</a>
        <a href="/userLogin">User Login</a> 
        <a href="/userRegister">User Register</a>
        <a href="/adminLogin">Admin Login</a>   
    </h1>
    <h2></h2>
    <form action="/searchBookAuth" method="POST">
        <label for="search">Search Book:</label><br>
        <input type="text" id="search" name="search"><br>
        <br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>